*.o
*.bc
*.ll
*.exe
*.out
*.gch
config.mk
config.sh
config.status
config.log
configure.out
configure
autom4te.cache
*.d
lib*.so
lib*.a
basic-timestamp.txt

.DS_Store
*.dSYM

pinavm-xcode*
*.pbxbtree
*.pbxsymbols
control
strings

# CMake's own stuff ...
CMakeCache.txt
CMakeFiles
cmake_install.cmake
# ... and generated Makefile
/Makefile
/backends/42Backend/Makefile
/backends/PromelaBackend/Makefile
/backends/SimpleBackend/Makefile
/backends/TwetoBackend/Makefile
/external/basic/Makefile
/external/systemc-2.2.0/Makefile
/frontend/Makefile
/toplevel/Makefile
/utils/Makefile
